<!DOCTYPE html>
<html lang="en">
<head>
    {% block metahead %}
    <meta charset="utf-8" />
    {% endblock %}
    {% block head %}
    <title>{%block fulltitle%}{% block title %}{% endblock %} - [appname]{% endblock %}</title>
    {% block styles %}
    <link rel="stylesheet" href="{{ static('style.css') }}" />
    <link rel="stylesheet" href="{{ static('reset.css') }}" />
    <link rel="stylesheet" href="{{ static('grid.css') }}" />
    {% endblock %}
    {% block favicon %}
    <link rel="shortcut icon" href="{{ static('favicon.ico') }}">
    {% endblock %}
    {% block scripts %}
    <script src="{{ static('html5.js') }}"></script>
    <script src="{{ static('jquery.js') }}"></script>
    {% endblock %}
    {% endblock %}
</head>
<body>
    <section class="content">
        {% block content %}{% endblock %}
    </section>
    <section class="footer">
        {% block footer %}
        &copy; Copyright 2011 by [author].
        {% endblock %}
    </section>
</body>
</html>
